body {
    width:100%;
    max-width:1100px;
    margin:0 auto;
    background:white;
    font-family:sans-serif;
}


.container {
    width:100%;
    max-width:1100px;
    margin:0 auto;
    background:white;
    position:relative;
}


.head{
    width:100%;
    max-width:1100px;
    margin:0 auto;
    /* background:#36474F; */
    background:white;
    justify-content:space-between;
    padding-top:0px;
    padding-bottom:5px;
    border:0px solid chocolate;
    border-bottom:2px solid #eeeeee;
    display:flex;
    border-radius:0px 0px 0px 0px;

   }.head img{width:130px;border:0px solid green;}
    .head .navbtns{width:150px;border:0px solid red;margin-top:8px;margin-right:10px;display:flex;justify-content:space-around;}
    .head .navbtns button{background:none;color:royalblue;border-bottom:1px solid royalblue;width:80px;height:35px;border:0px solid grey;font-weight:bold;}
    .head .navbtns button:active{background:#eee;color:black;}
    .head .navbtns a{color:default;text-decoration:none;}
    .head .navbtns .nav-btn-pop{border:0px solid grey;}
    .head .navbtns .nav-btn-pop #show-btn{background:default;}
    .head .navbtns .nav-btn-pop #close-btn{display:none;}






.header {
    width:100%;
    max-width:1100px;
    margin:0 auto;
    height:350px;
    position:relative;
    overflow:hidden;
}.header img {
    width:100%;
    height:500px;
    display:non;
}.flex-title-btn{
    width:750px;
    border:0px solid red;
    position:absolute;
    top:20;
    left:50;
    right:20;
    display:flex;
    justify-content:space-between;
}.flex-title-btn button{
    background:none;
    height:55px;
    margin-top:100px;
    border:0px;
    background:#222;
    opacity:90%;
    border:1px solid ghostwhite;
}.header h2 {
    background:#222;
    width:300px;
    height:140px;
    color:white;
    text-align:left;
    padding:30px;
    opacity:90%;
    font-weight:300;
}.header h2 span {
    font-weight:bold;
    font-size:50px;
}


.intro{
    width:100%;
    max-width:1100px;
    margin:0 auto;
    margin-bottom:0px;
    border:0px solid red;
}.intro h2{
    font-weight:300;
    display:none;
}.intro .flexer-intro{
    width:100%;
    max-width:1000px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;

}.intro .flexer-intro img{
    width:400px;
    border:0px solid grey;
}.intro .flexer-intro .h{
    width:100%;
    max-width:500px;
    /* margin:0 auto; */
    height:280px;
    margin-top:40px;
    border:0px solid grey;
}.intro .flexer-intro .h h3{
    font-size:30px;

}.intro .flexer-intro .h h4{
    font-size:15px;
    color:grey;
    font-weight:300;
}


.about {
    width:100%;
    max-width:1000px;
    margin:0 auto;
    border:0px solid grey;
    margin-top:30px;
    margin-bottom:30px;
    padding:30px 0px 30px 0px;
}.about h1 {
    text-align:center;
    margin:0px;
    margin-bottom:30px;
}.about .flex-conts {
    width:1005;
    max-width:700px;
    margin:0 auto;
    border:0px solid grey;
    display:flex;
    justify-content:space-between;
}.about .flex-conts .box{
    width:100%;
    max-width:200px;
    margin:0 auto;
    border:0px solid grey;
    text-align:center;
}.about .flex-conts .box img{
    width:150px;
    height:150px;
    border:0px solid royalblue;
    border-radius:75px;
    margin-bottom:10px;
}.about .flex-conts .box p{
    margin:0px;
}


.mess{
    width:100%;
    max-width:1100px;
    margin:0 auto;
    margin-bottom:50px;
    /* background:#f6f6f6f6; */
    padding:20px 0px 20px 0px;
    display:flex;
    justify-content:space-around;
    border:0px solid pink;
    flex-wrap:wrap;

}.mess h2{
    text-align:left;
}.mess .mess-flex{
    width:100%;
    max-width:450px;
    height:200px;
    border:0px solid grey;
    margin-top:50px;
}.mess .mess-flex h2{
    width:100%;
    max-width:400px;
    text-align:center;
}.mess .mess-flex p{
    width:100%;
    max-width:400px;
    text-align:left;
    border:0px solid red;
}.mess img{
    width:350px;
    height:300px;
    border:0px solid yellow;
}


.services{
    width:100%;
    max-width:1100px;
    margin:0 auto;
    border:0px solid grey;
    margin-bottom:20px;
}.services .serv-head{
    width:100%;
    max-width:1100px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
}.services .serv-head h2{
    margin:0px;
    font-size:20px;
}.services .serv-head a{
    text-decoration:none;
}.services .serv-head a button{
    width:180px;
    height:30px;
    border:0px;
}.services .cont-flexer{
    width:100%;
    max-width:1100px;
    margin:0 auto;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}.services .cont-flexer .cont-box{
    width:100%;
    max-width:250px;
    border:0px solid grey;
}.services .cont-flexer .cont-box img{
    width:200px;
    height:200px;
    display:flex;
    margin:0 auto;
    border:0px solid grey;
}.services .cont-flexer .cont-box .cont{
    width:100%;
    max-width:130px;
    margin:0 auto;
    background:white;
    border-radius:5px;
    box-shadow:0px 5px 5px silver;
    padding:20px;
    margin-top:-50px;
    text-align:center;
    opacity:90%;
}.services .cont-flexer .cont-box .cont h3{
    text-align:center;
    font-size:20px;
}.services .cont-flexer .cont-box .cont p{
    text-align:center;
    font-weight:300;
    font-size:12px;
}.services .cont-flexer .cont-box .cont a {
    text-decoration:none;
    color:default;
}.services .cont-flexer .cont-box .cont a button{
    background:#222;
    padding:5px;
    border-radius:5px;
    color:white;
    font-weight:bold;
}


.common-section{
    width:100%;
    max-width:1100px;
    margin:0 auto;
    margin-top:50px;
    margin-bottom:50px;
    /* background:#7888A1; */
    padding-top:30px;
    padding-bottom:30px;
   }.common-section .container{
    /* background:#7888A1; */
   padding-top:20px;
   padding-bottom:20px;
   }.common-section .container .common-section__header{
    color:default;
   }.common-section .container .common-section__header h2{
    color:black;
    padding:0px;
    margin:0px;
    text-align:center;
   }.common-section .container .grid-container{
     width:100%;
     max-width:1000px;
     margin:0 auto;
     border:0px solid green;
   }.common-section .container .grid-container ul{
     width:100%;
     max-width:900px;
     margin:0 auto;
     list-style-type:none;
     margin-bottom:10px;
     padding:0px;
     border:0px solid red;
     box-shadow:0px 0px 0px grey;
     border-radius:0px;
     display:flex;
     justify-content:space-evenly;
     border:0px solid grey;
   }.common-section .container .grid-container ul li{
     width:100%;
     max-width:150px;
     border:2px solid silver;
     margin-bottom:10px;
     padding:20px;
   }.common-section .container .grid-container ul li h4{
     font-weight:300;
     font-size:20px;
     color:default;
   }.common-section .container .grid-container ul li p{
     padding:0;
     margin:0;
   }#service-other{
    width:100%;
    max-width:800px;
   }







   /* media query */
   /* media query */
   /* media query */
   /* media query */
   /* media query */
   /* media query */
   /* media query */
   /* media query */
   /* media query */
   /* media query */
   /* media query */
   /* media query */
   /* media query */
   /* media query */
   /* media query */
   /* media query */
   /* media query */
   /* media query */
   /* media query */
   /* media query */
   /* media query */
   /* media query */
   /* media query */
   /* media query */
   /* media query */
   /* media query */
   /* media query */
   /* media query */

@media(max-width:916px){
    body{background:default;}
    .intro{
        width:100%;
        max-width:800px;
        margin:0 auto;
        margin-bottom:0px;
        border:0px solid red;
    }.intro h2{
        font-weight:300;
        display:none;
    }.intro .flexer-intro{
        width:100%;
        max-width:700px;
        margin:0 auto;
        display:flex;
        justify-content:space-between;
        flex-wrap:wrap;
        border:0px solid blue;
    }.intro .flexer-intro img{
        width:400px;
        border:0px solid grey;
        display:flex;
        justify-content:center;
        align-items:center;
        margin:auto;
    }.intro .flexer-intro .h{
        width:100%;
        max-width:700px;
        /* margin:0 auto; */
        height:280px;
        margin-top:40px;
        border:0px solid grey;
    }.intro .flexer-intro .h h3{
        font-size:30px;

    }.intro .flexer-intro .h h4{
        font-size:15px;
        color:grey;
        font-weight:300;
    }




.services{
    width:100%;
    max-width:800px;
    margin:0 auto;
    border:0px solid red;
    margin-bottom:20px;
}.services .serv-head{
    width:100%;
    max-width:800px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
}.services .serv-head h2{
    margin:0px;
    font-size:20px;
}.services .serv-head a{
    text-decoration:none;
}.services .serv-head a button{
    width:180px;
    height:30px;
    border:0px;
}.services .cont-flexer{
    width:100%;
    max-width:800px;
    margin:0 auto;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}.services .cont-flexer .cont-box{
    width:100%;
    max-width:250px;
    border:0px solid grey;
}.services .cont-flexer .cont-box img{
    width:200px;
    height:200px;
    display:flex;
    margin:0 auto;
    border:0px solid grey;
}.services .cont-flexer .cont-box .cont{
    width:100%;
    max-width:130px;
    margin:0 auto;
    background:white;
    border-radius:5px;
    box-shadow:0px 5px 5px silver;
    padding:20px;
    margin-top:-50px;
    text-align:center;
    opacity:90%;
}.services .cont-flexer .cont-box .cont h3{
    text-align:center;
    font-size:20px;
}.services .cont-flexer .cont-box .cont p{
    text-align:center;
    font-weight:300;
    font-size:12px;
}.services .cont-flexer .cont-box .cont a {
    text-decoration:none;
    color:default;
}.services .cont-flexer .cont-box .cont a button{
    background:#222;
    padding:5px;
    border-radius:5px;
    color:white;
    font-weight:bold;
}

}